In [10]:
import pandas as pd
import json

In [3]:
df = pd.read_csv('reddit_wsb.csv')
df = df.dropna()

In [4]:
stock = ['GME','AMC']

In [5]:
df_list = {}
for i in stock:
    df_list[i]={}
    df_list[i] = df[df['title'].str.contains(i) | df['body'].str.contains(i)]
    df_list[i] = df_list[i][['title','body','comms_num','timestamp']]
    df_list[i]['timestamp'] = df_list[i]['timestamp'].apply(pd.Timestamp)
    df_list[i]['day'] = df_list[i]['timestamp'].dt.day
    df_list[i]['month'] = df_list[i]['timestamp'].dt.month
df_list

{'GME':                                                    title  \
 2                                        Exit the system
 6            SHORT STOCK DOESN'T HAVE AN EXPIRATION DATE
 7                                     THIS IS THE MOMENT
 10     We need to keep this movement going, we all ca...
 12     Once you're done with GME - $AG and $SLV, the ...
 ...                                                  ...
 48108  AMC's Former Owner And Largest Shareholder, Da...
 48120            When did this Subreddit become therapy?
 48121  We shouldn't be worrying about inflation. Inst...
 48142  I built a program that tracks mentions and sen...
 48184  GME Holders! $10,000,000 Is FUD To Keep You To...

                                                     body  comms_num  \
 2      The CEO of NASDAQ pushed to halt trading ‚Äúto g...         47
 6      Hedgefund whales are spreading disinfo saying ...         53
 7      Life isn't fair. My mother always told me that...        178
 10      I believe right now is one of those rare oppo...         70
 12     You guys are champs. GME... who would have tho...         16
 ...                                                  ...        ...
 48108  Dudes, you can't squeeze a 422M shs float like...        274
 48120  I swear if I see one more ‚ÄúI invested in GME b...       1182
 48121  Before you jump to conclusions, and say "OP, y...         66
 48142  This post is in continuation of a series of po...         78
 48184  Hello,\n\nI have been buying GME since May 202...         66

                 timestamp  day  month
 2     2021-01-28 21:30:35   28      1
 6     2021-01-28 21:26:27   28      1
 7     2021-01-28 21:19:31   28      1
 10    2021-01-28 21:18:25   28      1
 12    2021-01-28 21:17:10   28      1
 ...                   ...  ...    ...
 48108 2021-05-24 21:23:41   24      5
 48120 2021-05-24 09:27:32   24      5
 48121 2021-05-24 09:13:59   24      5
 48142 2021-05-24 00:31:19   24      5
 48184 2021-05-22 22:03:50   22      5

 [8629 rows x 6 columns],
 'AMC':                                                    title  \
 10     We need to keep this movement going, we all ca...
 21     We need to stick together and üíéüñê the ever lovi...
 55     GameStop, Blackberry, AMC Sees Trade Halts on ...
 74                                       very conflicted
 92     We need to talk about all the real risks of a ...
 ...                                                  ...
 47881  Daym it feels good to be a GME hodler in times...
 47969                   AMC WILL HIT 5 BY END OF SUMMER.
 48022  where to buy GME stocks in Australia?! SelfWea...
 48108  AMC's Former Owner And Largest Shareholder, Da...
 48142  I built a program that tracks mentions and sen...

                                                     body  comms_num  \
 10      I believe right now is one of those rare oppo...         70
 21     This is our time. If anyone will listen to you...        323
 55     Original Article: [https://www.coinspeaker.com...        280
 74     wanting to buy tomorrow with a 1K budget, a lo...        298
 92     This sub is at over 4m users, getting internat...        248
 ...                                                  ...        ...
 47881   \n\n[GME Daily Chart](https://preview.redd.it...        203
 47969  AMC has filed to conduct an "at-the-market" (A...        216
 48022  so i been looking into how to vote and i found...         81
 48108  Dudes, you can't squeeze a 422M shs float like...        274
 48142  This post is in continuation of a series of po...         78

                 timestamp  day  month
 10    2021-01-28 21:18:25   28      1
 21    2021-01-28 20:54:08   28      1
 55    2021-01-28 19:21:58   28      1
 74    2021-01-28 18:45:43   28      1
 92    2021-01-28 17:36:44   28      1
 ...                   ...  ...    ...
 47881 2021-05-27 04:31:41   27      5
 47969 2021-05-26 10:32:00   26      5
 48022 2021-05-25 18:45:32   25      5
 48108 2021-05-24 21:23:41   24      5
 48142 2021-05-24 00:31:19   24      5

 [3130 rows x 6 columns]}

In [29]:
list_comments = []
for i in stock:
    list_comments.append(df_list[i].groupby(['month','day']).sum())

In [80]:
df = list_comments[0].reset_index()
df[[ 'month','day']] = df[['month','day']].astype(str)
df['id'] = df[['month','day']].agg('-'.join, axis=1) 
df = df[['id','comms_num']]
df['id'] = pd.to_datetime(df['id'], format='%m-%d').dt.strftime('%m-%d')
df

        id  comms_num
0    01-28      27953
1    01-29     161335
2    01-30     122047
3    01-31      85414
4    02-01      63682
..     ...        ...
113  05-27       1435
114  05-28        124
115  05-30       2883
116  05-31        724
117  06-01        880

[118 rows x 2 columns]

In [81]:
json_wbs = df.to_csv('wsb.csv')