In [7]:
# What to install:
# pip install pandas-datareader
# pip install yfinance

# Imports (Yahoo Finance or Pandas Reader, compatible with Yahoo and Google Finance)
import yfinance as yf

import pandas as pd
from pandas_datareader import data

import numpy as np

# For visual support, if needed
import matplotlib.pyplot as plt

In [8]:
# Define the instruments to download.
# Define tickers to download info and aliases to store opening and closing prices per day.
tickers = ['GME', 'AMC', 'NOK', 'BB', 'EXPR', 'KOSS']
tickers_Op = []
tickers_Cl = []

for tick in tickers:
    Op_tick = str(tick + '_Op')
    Cl_tick = str(tick + '_Cl')
    tickers_Op.append(Op_tick)
    tickers_Cl.append(Cl_tick)

print(tickers_Cl)
print(tickers_Op)

['GME_Cl', 'AMC_Cl', 'NOK_Cl', 'BB_Cl', 'EXPR_Cl', 'KOSS_Cl']
['GME_Op', 'AMC_Op', 'NOK_Op', 'BB_Op', 'EXPR_Op', 'KOSS_Op']

In [30]:
# We will obtain data from yyyy-mm-dd to yyyy-mm-dd.
start_date = '2021-01-02'
end_date = '2021-06-30'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
our_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [10]:
our_data

Attributes   Adj Close                                                Close  \
Symbols            GME        AMC   NOK     BB  EXPR       KOSS         GME
Date
2021-01-04   17.250000   2.010000  3.89   6.58  0.93   3.190000   17.250000
2021-01-05   17.370001   1.980000  4.04   6.77  0.96   3.110000   17.370001
2021-01-06   18.360001   2.010000  4.04   6.71  1.00   3.050000   18.360001
2021-01-07   18.080000   2.050000  3.99   7.06  1.02   3.150000   18.080000
2021-01-08   17.690001   2.140000  3.93   7.56  1.04   3.270000   17.690001
...                ...        ...   ...    ...   ...        ...         ...
2021-06-07  280.010010  55.000000  5.61  15.77  5.72  27.600000  280.010010
2021-06-08  300.000000  55.049999  5.58  15.80  5.71  28.330000  300.000000
2021-06-09  302.559998  49.340000  5.49  15.16  5.56  26.320000  302.559998
2021-06-10  220.389999  42.810001  5.44  13.89  5.00  24.620001  220.389999
2021-06-11  233.339996  49.400002  5.43  14.18  5.29  25.290001  233.339996

Attributes                          ...  Open                          \
Symbols           AMC   NOK     BB  ...   NOK     BB  EXPR       KOSS
Date                                ...
2021-01-04   2.010000  3.89   6.58  ...  3.99   6.70  0.93   3.310000
2021-01-05   1.980000  4.04   6.77  ...  3.99   6.62  0.93   3.130000
2021-01-06   2.010000  4.04   6.71  ...  4.01   6.71  0.97   3.090000
2021-01-07   2.050000  3.99   7.06  ...  4.01   6.75  1.07   3.110000
2021-01-08   2.140000  3.93   7.56  ...  3.94   7.22  1.01   3.280000
...               ...   ...    ...  ...   ...    ...   ...        ...
2021-06-07  55.000000  5.61  15.77  ...  5.48  14.45  5.05  27.160000
2021-06-08  55.049999  5.58  15.80  ...  5.57  16.48  5.91  28.820000
2021-06-09  49.340000  5.49  15.16  ...  5.55  15.43  5.57  27.879999
2021-06-10  42.810001  5.44  13.89  ...  5.44  14.75  5.57  25.309999
2021-06-11  49.400002  5.43  14.18  ...  5.48  14.12  5.13  24.660000

Attributes    Volume
Symbols          GME        AMC       NOK         BB      EXPR     KOSS
Date
2021-01-04  10022500   29873800  30281400   11139200   3238100   245100
2021-01-05   4961500   28148300  38446200    9108900   2300400   116600
2021-01-06   6056200   67363300  37467400   11022300   2407700    34600
2021-01-07   6129300   26150500  25318000   13062800   2548900    84600
2021-01-08   6482000   39553300  23978700   23039300   2587100    62300
...              ...        ...       ...        ...       ...      ...
2021-06-07   6051500  349094900  46400100  197778200  24746400  6778900
2021-06-08  17439100  214490300  48799900  162544200  20691300  6455200
2021-06-09  13429300  150361300  45972000  103503100   9785800  2951500
2021-06-10  22980200  224860600  26553200   68611400   9449700  1274300
2021-06-11  15549500  215932000  20301900   56010900   7166500   880300

[111 rows x 36 columns]

In [31]:
# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = our_data['Close']

# Getting all weekdays between yyyy-mm-dd to yyyy-mm-dd.
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
close = close.fillna(method='ffill')

In [32]:
close.columns = tickers_Cl
close.head(10)

               GME_Cl  AMC_Cl  NOK_Cl  BB_Cl  EXPR_Cl  KOSS_Cl
2021-01-04  17.250000    2.01    3.89   6.58     0.93     3.19
2021-01-05  17.370001    1.98    4.04   6.77     0.96     3.11
2021-01-06  18.360001    2.01    4.04   6.71     1.00     3.05
2021-01-07  18.080000    2.05    3.99   7.06     1.02     3.15
2021-01-08  17.690001    2.14    3.93   7.56     1.04     3.27
2021-01-11  19.940001    2.20    3.87   7.65     1.00     3.20
2021-01-12  19.950001    2.29    4.01   7.63     1.05     3.24
2021-01-13  31.400000    2.18    3.98   7.44     1.03     3.11
2021-01-14  39.910000    2.18    4.09   9.11     1.28     3.07
2021-01-15  35.500000    2.33    4.08   9.84     1.26     2.90

In [33]:
# Getting just the adjusted opening prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
open_p = our_data['Open']

# Reindex open using all_weekdays as the new index
open_p = open_p.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
open_p = open_p.fillna(method='ffill')

In [34]:
open_p.columns = tickers_Op
open_p.head(10)

               GME_Op  AMC_Op  NOK_Op  BB_Op  EXPR_Op  KOSS_Op
2021-01-04  19.000000    2.20    3.99   6.70     0.93     3.31
2021-01-05  17.350000    1.99    3.99   6.62     0.93     3.13
2021-01-06  17.340000    2.03    4.01   6.71     0.97     3.09
2021-01-07  18.469999    2.08    4.01   6.75     1.07     3.11
2021-01-08  18.180000    2.09    3.94   7.22     1.01     3.28
2021-01-11  19.410000    2.16    3.84   7.64     1.01     3.19
2021-01-12  19.959999    2.24    3.94   7.69     1.00     3.20
2021-01-13  20.420000    2.33    3.91   7.65     1.06     3.24
2021-01-14  38.090000    2.22    4.12   7.51     1.51     3.10
2021-01-15  38.490002    2.20    4.09  10.68     1.26     3.07

In [35]:
frame_1 = open_p.join(close)
frame_1

,GME_Op,AMC_Op,NOK_Op,BB_Op,EXPR_Op,KOSS_Op,GME_Cl,AMC_Cl,NOK_Cl,BB_Cl,EXPR_Cl,KOSS_Cl
2021-01-04,19.000000,2.20,3.99,6.70,0.93,3.31,17.250000,2.010000,3.89,6.58,0.93,3.190000
2021-01-05,17.350000,1.99,3.99,6.62,0.93,3.13,17.370001,1.980000,4.04,6.77,0.96,3.110000
2021-01-06,17.340000,2.03,4.01,6.71,0.97,3.09,18.360001,2.010000,4.04,6.71,1.00,3.050000
2021-01-07,18.469999,2.08,4.01,6.75,1.07,3.11,18.080000,2.050000,3.99,7.06,1.02,3.150000
2021-01-08,18.180000,2.09,3.94,7.22,1.01,3.28,17.690001,2.140000,3.93,7.56,1.04,3.270000
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-25,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-28,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-29,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-30,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001

In [36]:
col_headers = tickers_Cl + tickers_Op
col_headers

['GME_Cl',
 'AMC_Cl',
 'NOK_Cl',
 'BB_Cl',
 'EXPR_Cl',
 'KOSS_Cl',
 'GME_Op',
 'AMC_Op',
 'NOK_Op',
 'BB_Op',
 'EXPR_Op',
 'KOSS_Op']

In [37]:
# Convert strings to integers
# Make sure columns are numbers.

for header in col_headers:
    frame_1[header] = pd.to_numeric(frame_1[header])

In [40]:
frame_1.round(decimals=2)
frame_1

,GME_Op,AMC_Op,NOK_Op,BB_Op,EXPR_Op,KOSS_Op,GME_Cl,AMC_Cl,NOK_Cl,BB_Cl,EXPR_Cl,KOSS_Cl
2021-01-04,19.000000,2.20,3.99,6.70,0.93,3.31,17.250000,2.010000,3.89,6.58,0.93,3.190000
2021-01-05,17.350000,1.99,3.99,6.62,0.93,3.13,17.370001,1.980000,4.04,6.77,0.96,3.110000
2021-01-06,17.340000,2.03,4.01,6.71,0.97,3.09,18.360001,2.010000,4.04,6.71,1.00,3.050000
2021-01-07,18.469999,2.08,4.01,6.75,1.07,3.11,18.080000,2.050000,3.99,7.06,1.02,3.150000
2021-01-08,18.180000,2.09,3.94,7.22,1.01,3.28,17.690001,2.140000,3.93,7.56,1.04,3.270000
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-25,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-28,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-29,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001
2021-06-30,222.350006,44.68,5.48,14.12,5.13,24.66,233.339996,49.400002,5.43,14.18,5.29,25.290001

In [41]:
frame_1.to_csv('stock_prices.csv')