In [16]:
# What to install:
# pip install pandas-datareader
# pip install yfinance

# Imports (Yahoo Finance or Pandas Reader, compatible with Yahoo and Google Finance)
import yfinance as yf

import pandas as pd
from pandas_datareader import data

# For visual support, if needed
import matplotlib.pyplot as plt

In [17]:
# Define the instruments to download.
# Define tickers to download info and aliases to store opening and closing prices per day.
tickers = ['GME', 'AMC', 'NOK', 'BB']
tickers_Op = ['GME_Op', 'AMC_Op', 'NOK_Op', 'BB_Op']
tickers_Cl = ['GME_Cl', 'AMC_Cl', 'NOK_Cl', 'BB_Cl']

# We would like all available data from yyyy-mm-dd to yyyy-mm-dd.
start_date = '2021-01-01'
end_date = '2021-06-30'

# User pandas_reader.data.DataReader to load the desired data. As simple as that.
our_data = data.DataReader(tickers, 'yahoo', start_date, end_date)

In [18]:
our_data

Attributes   Adj Close                               Close                   \
Symbols            GME        AMC   NOK     BB         GME        AMC   NOK
Date
2021-01-04   17.250000   2.010000  3.89   6.58   17.250000   2.010000  3.89
2021-01-05   17.370001   1.980000  4.04   6.77   17.370001   1.980000  4.04
2021-01-06   18.360001   2.010000  4.04   6.71   18.360001   2.010000  4.04
2021-01-07   18.080000   2.050000  3.99   7.06   18.080000   2.050000  3.99
2021-01-08   17.690001   2.140000  3.93   7.56   17.690001   2.140000  3.93
...                ...        ...   ...    ...         ...        ...   ...
2021-06-07  280.010010  55.000000  5.61  15.77  280.010010  55.000000  5.61
2021-06-08  300.000000  55.049999  5.58  15.80  300.000000  55.049999  5.58
2021-06-09  302.559998  49.340000  5.49  15.16  302.559998  49.340000  5.49
2021-06-10  220.389999  42.810001  5.44  13.89  220.389999  42.810001  5.44
2021-06-11  233.339996  49.400002  5.43  14.18  233.339996  49.400002  5.43

Attributes               High             ...   Low               Open  \
Symbols        BB         GME        AMC  ...   NOK     BB         GME
Date                                      ...
2021-01-04   6.58   19.100000   2.200000  ...  3.85   6.52   19.000000
2021-01-05   6.77   18.080000   2.030000  ...  3.95   6.56   17.350000
2021-01-06   6.71   18.980000   2.230000  ...  4.01   6.63   17.340000
2021-01-07   7.06   19.450001   2.110000  ...  3.97   6.72   18.469999
2021-01-08   7.56   18.299999   2.210000  ...  3.90   7.10   18.180000
...           ...         ...        ...  ...   ...    ...         ...
2021-06-07  15.77  282.000000  59.680000  ...  5.45  14.12  258.000000
2021-06-08  15.80  344.660004  60.619999  ...  5.54  15.25  292.000000
2021-06-09  15.16  328.000000  53.389999  ...  5.47  14.30  303.119995
2021-06-10  13.89  288.000000  51.500000  ...  5.39  13.80  282.000000
2021-06-11  14.18  241.130005  49.599998  ...  5.39  13.57  222.350006

Attributes                            Volume
Symbols           AMC   NOK     BB       GME        AMC       NOK         BB
Date
2021-01-04   2.200000  3.99   6.70  10022500   29873800  30281400   11139200
2021-01-05   1.990000  3.99   6.62   4961500   28148300  38446200    9108900
2021-01-06   2.030000  4.01   6.71   6056200   67363300  37467400   11022300
2021-01-07   2.080000  4.01   6.75   6129300   26150500  25318000   13062800
2021-01-08   2.090000  3.94   7.22   6482000   39553300  23978700   23039300
...               ...   ...    ...       ...        ...       ...        ...
2021-06-07  52.380001  5.48  14.45   6051500  349094900  46400100  197778200
2021-06-08  57.160000  5.57  16.48  17439100  214490300  48799900  162544200
2021-06-09  52.200001  5.55  15.43  13429300  150361300  45972000  103503100
2021-06-10  47.930000  5.44  14.75  22980200  224860600  26553200   68611400
2021-06-11  44.680000  5.48  14.12  15549500  215932000  20301900   56010900

[111 rows x 24 columns]

In [19]:
# Getting just the adjusted closing prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
close = our_data['Close']

# Getting all weekdays between yyyy-mm-dd to yyyy-mm-dd.
all_weekdays = pd.date_range(start=start_date, end=end_date, freq='B')

# How do we align the existing prices in adj_close with our new set of dates?
# All we need to do is reindex close using all_weekdays as the new index
close = close.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
close = close.fillna(method='ffill')

In [20]:
close.columns = tickers_Cl
close.head(10)

               GME_Cl  AMC_Cl  NOK_Cl  BB_Cl
2021-01-01        NaN     NaN     NaN    NaN
2021-01-04  17.250000    2.01    3.89   6.58
2021-01-05  17.370001    1.98    4.04   6.77
2021-01-06  18.360001    2.01    4.04   6.71
2021-01-07  18.080000    2.05    3.99   7.06
2021-01-08  17.690001    2.14    3.93   7.56
2021-01-11  19.940001    2.20    3.87   7.65
2021-01-12  19.950001    2.29    4.01   7.63
2021-01-13  31.400000    2.18    3.98   7.44
2021-01-14  39.910000    2.18    4.09   9.11

In [21]:
# Getting just the adjusted opening prices. This will return a Pandas DataFrame
# The index in this DataFrame is the major index of the panel_data.
open_p = our_data['Open']

# Reindex open using all_weekdays as the new index
open_p = open_p.reindex(all_weekdays)

# Reindexing will insert missing values (NaN) for the dates that were not present
# in the original set. To cope with this, we can fill the missing by replacing them
# with the latest available price for each instrument.
open_p = open_p.fillna(method='ffill')

In [22]:
open_p.columns = tickers_Op
open_p.head(10)

               GME_Op  AMC_Op  NOK_Op  BB_Op
2021-01-01        NaN     NaN     NaN    NaN
2021-01-04  19.000000    2.20    3.99   6.70
2021-01-05  17.350000    1.99    3.99   6.62
2021-01-06  17.340000    2.03    4.01   6.71
2021-01-07  18.469999    2.08    4.01   6.75
2021-01-08  18.180000    2.09    3.94   7.22
2021-01-11  19.410000    2.16    3.84   7.64
2021-01-12  19.959999    2.24    3.94   7.69
2021-01-13  20.420000    2.33    3.91   7.65
2021-01-14  38.090000    2.22    4.12   7.51

In [28]:
frame_1 = open_p.join(close)
frame_1

,GME_Op,AMC_Op,NOK_Op,BB_Op,GME_Cl,AMC_Cl,NOK_Cl,BB_Cl
2021-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-01-04,19.000000,2.20,3.99,6.70,17.250000,2.010000,3.89,6.58
2021-01-05,17.350000,1.99,3.99,6.62,17.370001,1.980000,4.04,6.77
2021-01-06,17.340000,2.03,4.01,6.71,18.360001,2.010000,4.04,6.71
2021-01-07,18.469999,2.08,4.01,6.75,18.080000,2.050000,3.99,7.06
...,...,...,...,...,...,...,...,...
2021-06-24,222.350006,44.68,5.48,14.12,233.339996,49.400002,5.43,14.18
2021-06-25,222.350006,44.68,5.48,14.12,233.339996,49.400002,5.43,14.18
2021-06-28,222.350006,44.68,5.48,14.12,233.339996,49.400002,5.43,14.18
2021-06-29,222.350006,44.68,5.48,14.12,233.339996,49.400002,5.43,14.18
2021-06-30,222.350006,44.68,5.48,14.12,233.339996,49.400002,5.43,14.18

In [29]:
frame_1.to_csv('stock_prices.csv')